{% load static %}
<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'lista_clientes' %}active{% endif %}" 
           href="{% url 'clientes:lista_clientes' %}">
            <i class="fas fa-users me-1"></i> Clientes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'nuevo_despacho' %}active{% endif %}" 
           href="{% url 'clientes:nuevo_despacho' %}">
            <i class="fas fa-truck me-1"></i> Despachos
        </a>
    </li>
</ul>

<ul class="navbar-nav ms-auto">
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-user-circle me-1"></i> {{ user.username }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Mi perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'usuarios:logout' %}">Cerrar sesión</a></li>
        </ul>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios:login' %}">
            <i class="fas fa-sign-in-alt me-1"></i> Iniciar sesión
        </a>
    </li>
    {% endif %}
</ul>